body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    background-color: #D8E4DA;
}

/* default menu bar and admin menu bar */
header {
    display: flex;
    padding: 5px 10px;
    background-color: #527460;
    color: white;
    font-size: 14px;
} 

.logo {
    font-size: 40px;
    font-weight: 100;
    padding-top: 2px;
    font-family: "Major Mono Display", monospace;
}

.menu-bar, .admin-nav-bar {
    margin-left: auto;
}

.menu-bar ul, .admin-nav-bar ul {
    list-style: none;
    display: flex;
    padding-left: 10px;
    padding-right: 20px;
}

.menu-bar ul li a, .admin-nav-bar ul li a {
    text-decoration: none;
    color: white;
    padding-left: 15px;
    padding-right: 10px;
    box-sizing: border-box;
}

.menu-bar ul li a:hover, .admin-nav-bar ul li a:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
    align-items: center;
}

/* default menu bar search function */
.search-input-field {
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 10px;
    box-sizing: border-box;
}

.search-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

/* index page main section */
.container {
    display: flex;
    height: 100vh;
    width: 100%;
    list-style: none;
}

/* index recipe display (right section) */
.recipes-container { 
    width: 75vw;
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 3px;
    margin-right: 20px;
}

.recipe-list-container {
    flex-grow: 1;
    grid-template-rows: auto;
    height: 90%;

}

.recipe-section {
    list-style: none;
    background: #E9F2EA;
    text-align: center;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    height: 100%;
}

.recipe-img {
    width: 80%;
    height: 65% 
}

.add-recipe-btn {
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
    font-size: 13px;
}

/* index side bar (left section) */
.ingrd_and_fltr-container {
    width: 25%;
    background: #899C93;
}

.ingrd-list-container, .fltr-list-container {
    list-style: none;
}

.add-ingrd-btn, .sub-ingrd-btn, .add-fltr-btn, .sub-fltr-btn {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

/* sign in and up, account and account deletion pages */
.sicontainer, .accontainer, .acontainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 40px;
}

.login-form, .signup-form, .delete-form, .account-form {
    background:#E9F2EA;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 10px;
}

.signin-title, .signup-title, .delete-title, .account-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.sicontainer .input-field, .accontainer .input-field, .acontainer .input-field {
    border-radius: 10px;
    border: none;
    width: 100%;
    font-size: 15px;
}

.sicontainer .input-group, .accontainer .input-group, .acontainer .input-group {
    padding-bottom: 15px;
}

.submit-btn, .logoutbtn {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 15px;
}

.logoutbtn a {
    text-decoration: none;
    color: inherit;
}

#acEmail {
    border-radius: 10px;
    border: none;
    font-size: 18px;
}

/* admin page */
.admin-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 40px;
}

.admin-form {
    background: #E9F2EA;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 10px;
}

#welcomeAdmin {
    font-size: 22px;
    text-align: center;
}

#adminDesc {
    text-decoration: underline;
    text-underline-offset: 15px;
}

#adminInputBelow {
    padding-top: 10px;
}

.admin-form-row {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.admin-form-row label {
    width: 110px;
}

#recipeNameInputBox, #recipeIngredientsBox, #recipeMethodBox, #recipeDietariesBox, #recipeLinksBox {
    border-radius: 10px;
    border: none;
    font-size: 18px;
    width: 80%;
} 

#addRecipeButton {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background-color: white;
}


