body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    background-color: #D8E4DA;
}

/* default menu bar and admin menu bar */
header {
    display: flex;
    padding: 5px 10px;
    background-color: #527460;
    color: white;
    font-size: 14px;
} 

.logo {
    font-size: 40px;
    font-weight: 100;
    padding-top: 2px;
    font-family: "Major Mono Display", monospace;
}

.menu-bar, .admin-nav-bar {
    margin-left: auto;
}

.menu-bar ul, .admin-nav-bar ul {
    list-style: none;
    display: flex;
    padding-left: 10px;
    padding-right: 20px;
}

.menu-bar ul li a, .admin-nav-bar ul li a {
    text-decoration: none;
    color: white;
    padding-left: 15px;
    padding-right: 10px;
    box-sizing: border-box;
}

.menu-bar ul li a:hover, .admin-nav-bar ul li a:hover {
    text-decoration: underline;
}

.search-form {
    display: flex;
    align-items: center;
}

/* default menu bar search function */
.search-input-field {
    border: none;
    outline: none;
    font-size: 14px;
    border-radius: 10px;
    box-sizing: border-box;
}

.search btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

/* index page main section */
.container {
    display: flex;
    height: 100vh;
}

/* index side bar (left section) */
.ingrd_and_fltr-container {
    width: 25%;
    background: #899C93;
}

.ingrd-list-container, .fltr-list-container {
    list-style: none;
}

.add-ingrd-btn, .sub-ingrd-btn, .add-fltr-btn, .sub-fltr-btn {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

/* index recipe display (right section) */
.recipes-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px 
}

.recipe-section {
    list-style: none;
    background: #E9F2EA;
    text-align: center;
}

/* sign in and up pages */
.sicontainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 40px;
}

.login-form, .signup-form {
    background:#E9F2EA;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
    border-radius: 10px;
}

.signin-title, .signup-title {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.sicontainer .input-field {
    border-radius: 10px;
    border: none;
    width: 100%;
    font-size: 15px;
}

.sicontainer .input-group {
    padding-bottom: 15px;
}

.submit-btn {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 15px;
}

.signup-link a, .signin-link a {
    color: inherit;
}

/* admin page */
.admin-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recipeNameInputBox, #recipeIngredientsBox, #recipeMethodBox {
    border-radius: 10px;
    border: none;
    font-size: 18px;
    width: 50%;
} 

#addRecipeButton {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    background-color: white;
}

#welcomeAdmin {
    font-size: 22px;
}

#adminDesc {
    padding-bottom: 15px;
}

/* account page */
.accontainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 40px;
}

.logoutbtn
{
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 15px;
}

.logoutbtn a {
    text-decoration: none;
    color: inherit;
}

#acEmail {
    border-radius: 10px;
    border: none;
    font-size: 18px;
}


